/*---------------------------------------------------
    IMPORTS
----------------------------------------------------*/

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';

/*---------------------------------------------------
    GLOBAL 
----------------------------------------------------*/

.body {
    background-color: white;
}

/*---------------------------------------------------
    HEADER  
----------------------------------------------------*/




/*---------------------------------------------------
    TOP-BANNER
----------------------------------------------------*/



.top-banner {
    padding: 1%;

}

.top-menu {
    display: flex;
    justify-content: flex-end;
    @include list-undecorate();
}

.top-menu__listitem {
    margin: .5% 1%;
}

.top-menu__listitem:first-of-type {
    margin: .5% 4%;
}

/* SUBHEADING
------------------------------------*/