/*---------------------------------------------------
    BUTTONS
----------------------------------------------------*/


/* SP INTERACT BUTTONS
------------------------------------*/

.single-shop-cta-button {
    width: calc(100%/5);
    height: 3vh;
    background-color: $theme-details;
    border: 1px solid grey;
}


/* NAVIGATION MAIN
------------------------------------*/