// VARIABLES
$base-color: #f7fff6;

$theme-color: #93b48b;

$theme-details: #a29161;

// $secondary-color: #8491a3;

$heading-color: #a29161;

$text-color: #ececec;
$font-family: Arial, Helvetica, sans-serif;
$special-font:  Georgia, 'Times New Roman', serif;



