// VARIABLES
$base-color: #f7fff6;

$theme-color: #93b48b;

// $secondary-color: #8491a3;


$text-color: #ececec;
$font-family: Arial, Helvetica, sans-serif;
$special-font:  Georgia, 'Times New Roman', serif;

$link-font-color: #ffffff;
$link-hover-color: blue;



